<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="8"
      android:versionName="1.3.0.8"
      android:installLocation="auto" package="com.duomobsoft.theme.nature">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>
	<uses-permission android:name="android.permission.SET_WALLPAPER"/>
      


    <application android:label="@string/theme_title" android:icon="@drawable/theme_icon">
        <activity android:name="com.duomobsoft.theme.nature.main"
                  android:label="@string/theme_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" /> 
                <category android:name="com.fede.launcher.THEME_ICONPACK" /> 
                <action android:name="mobi.bbase.ahome.THEME"/>               
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
				<action android:name="com.gau.go.launcherex.theme"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>              
        </activity>
         <activity android:name="com.duomobsoft.theme.nature.InfoActivity" android:screenOrientation="portrait" ><intent-filter><action android:name="android.intent.action.MAIN"></action>
   <category android:name="android.intent.category.LAUNCHER"></category>
   </intent-filter></activity>
   <activity android:name="com.duomobsoft.theme.nature.GalleryExample" android:screenOrientation="portrait"><intent-filter><action android:name="android.intent.action.MAIN"></action>
   </intent-filter></activity>
        <activity
            android:name="com.duomobsoft.theme.nature.docks"
            android:label="@string/theme_title"
            android:icon="@drawable/theme_icon">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
		
		<receiver android:name=".ComponentControlReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REMOVED"/>
				<action android:name="android.intent.action.PACKAGE_REPLACED"/>
				<action android:name="android.intent.action.PACKAGE_ADDED"/>
				<data android:scheme="package"/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.gau.go.launcherex.action.hide_theme_icon"/>
			</intent-filter>
		</receiver>
		
		<receiver android:name="com.duomobsoft.theme.nature.ThemeControlReceiver">
			<intent-filter>
				<action android:name="com.jiubang.intent.action.LAUNCHER_START"/>
			</intent-filter>
			<intent-filter>
				<action android:name="com.gau.go.launcherex.action.inactive_apply_theme_flag"/>
			</intent-filter>
		</receiver>
		<service android:name="com.duomobsoft.theme.nature.GoDownloadService"/>
		
        <provider android:name="com.duomobsoft.theme.nature.docksProvider" android:authorities="com.duomobsoft.theme.nature.docksProvider"/>
    </application>
	<uses-sdk android:minSdkVersion="5"/>
	

</manifest> 